<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <h5>MongoDB</h5>
        <input type="button" value="mostrar" onclick="send()"><br>
        <div id = "output"></div><br>

        <script type="text/javascript">
            function send() {
                $.ajax({
                    type: 'GET',
                    url: "http://localhost:81/mostrar",
                    dataType: "text", // data type of response
                    success: function(serverData){
                        var json = JSON.parse(serverData);
                        for (var i=0; i<json.length; i++){
                            var user = json[i];
                            $('#output').append("<p>"+user.username+"</p>");
                        }
                    },
                    error: function(xhr,status,error){
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                    }
                });
            }
        </script>
    </body>
</html>